// Main header with naviation
* {
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  background-color: $white;
  max-width: 100vw;
}

.main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background-color: $white;
  z-index: 10000;
  border-bottom: 1px solid $black
}

.main-header > a > img {
  width: 150px;
  padding: 2px 0 2px 15px;
}

.nav-hamburger {
  float: right;
  position: relative;
  height: auto;
  width: 50px;
  margin-right: 50px;
  cursor: pointer;
}

.nav-hamburger:hover {
  cursor: pointer !important;
}

#nav-icon4 {
  width: 45px;
  height: 30px;
  position: relative;
  margin: 32px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon4 span {
  display: block;
  position: absolute;
  height: 6px;
  width: 100%;
  background: $red;
  border-radius: 6px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon4 span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4 span:nth-child(2) {
  top: 12px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4 span:nth-child(3) {
  top: 24px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -3px;
  left: 8px;
}

#nav-icon4.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#nav-icon4.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 29px;
  left: 8px;
}

.nav-container {
  width: 400px;
  // margin-top: 6px;
  border-left: 2px solid $black;
  height: 100vh;
  position: fixed;
  right: -400px;
  background-color: $white;
  z-index: 1000;
  transform: translateX(0%);
  transition: all .5s ease;
}

.nav-container_nav-wrapper {
  margin: 50px auto 0px;
  width: 100%;
  color: $red;
  text-align: center;
  position: relative;
  height: 100%;
}

.nav-container_nav-wrapper img {
  width: 80%;
  text-align: left;
  margin-bottom: 50px;
}

.nav-container_nav-wrapper a:hover {
  cursor: pointer !important;
}

.nav-container_nav-wrapper ul {
  color: $red;
  text-align: center;
}

.nav-container_nav-wrapper li h5 {
  margin: 60px 0;
}

.nav-container_nav-wrapper li h5:nth-child(3) {
  margin-top: 100px;
}

a:hover {
  cursor: pointer;;
  text-decoration: none;
}

.nav-container_nav-wrapper > ul > li:hover {
  cursor: pointer;
}

li > h5:hover {
  cursor: pointer;
  color: $white;
  background-color: rgba(0,0,0,.5);
  transition: all .5s ease;
  text-decoration: none;
}

.nav-contact {
  position: absolute;
  bottom: 200px;
  padding: 0px 10px;
}

.nav-contact > h5 {
  font-size: 1.25em;
  color: $red;
}

.nav-contact > p {
  text-align: left;
}

.main-container {
  width: 100%;
  min-height: 100vh;
  position: relative;
  transform: translateX(0px);
  transition: all .5s ease;
  margin-top: 95px;
  // background-color: black;
}

.shift {
  transform: translateX(-400px);
  transition: all .5s ease;
}

//  Main Video Container

.main-container_video-container,
.main-container_schedule-container {
  width: 100%;
  min-height: 100vh;
  background-color: $white;
  opacity: 1;
  transition: all 1s ease;
  margin-top: 95px;
  // overflow: hidden;
  position: relative;
  max-width: 1305px;
  margin: 0px auto;
}

.main-container_video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-container_video_container__quote {
  padding: 100px 50px 200px;
}

.main-container_video_container__quote h1 {
  text-align: center;
  color: $red;
}

.main-container_video_container__quote h5 {
  text-align: right;
  color: $black;
}

// Schedule container

.main-container_schedule-container {
  padding-bottom: 50px;
}

.schedule-hero_container {
  width: 100%;
  height: auto;
  margin: 25px 0px;
  min-height: 300px;
}

.schedule-hero_wrapper {
  background: url(./images/mlk-aoun.png) center center no-repeat #000;
  background-size: cover;
  background-position-y: -50px;
  width: 100%;
}

.schedule-hero_wrapper-section h5 {
  text-align: center;
  font-size: 1.25em;
}

.schedule-hero_wrapper-section h6 {
  text-align: center;
  font-size: 1.15em;
}

.schedule-hero_wrapper-section p {
  width: 80%;
  margin-left: 10%;
  text-align: left;
  font-family: Poppins,sans-serif;
  font-weight: 300px;
  font-size: 1.25em;
  padding: 25px 0px 100px;
}

.schedule-hero_wrapper-section p::first-letter {
  font-size: 2em;
  color: $red;
  font-weight: 700;
  text-transform: uppercase;
}

.schedule-hero_wrapper h1 {
  text-align: center;
  color: #fff;
  padding: 200px 0 250px;
  background-color: rgba(0,0,0,.4);
  text-transform: uppercase;
}

.schedule-wrapper {
  width: 100%;
  height: auto;
  text-align: center;
}

.schedule-wrapper h1 {
  text-align: center;
  padding-top: 40px;
  color: $red;
}

.schedule-grid_row {
  width: 90%;
  margin-left: 5%;
  clear: both;
  min-height: 250px;
}

.row-left {
  border-right: 2px solid $black;
}

.row-right {
  border-left: 2px solid $black;
}

.schedule-grid_col {
  width: 50%;
  float: left;
  min-height: 250px;
  margin: 5px 0px;
}

// .schedule-grid_col:first-child {
//   // border-right: 2px solid $black;
// }

.schedule-grid_col-date_left {
  float: right;
  width: 40%;
  height: 100%;
  text-align: right;
  padding-right: 5px;
}

.schedule-grid_col-date_left h1 {
  text-align: right;
  font-size: 4.5em;
  color: $light-grey;
  margin: 0px;
}

.schedule-grid_col-info_left h6 {
  font-size: 1.25em;
  font-weight: 700;
  padding-bottom: 5px;
}

.schedule-grid_col-info_left {
  float: left;
  width: 60%;
}

.schedule-grid_col-date_right {
  float: left;
  width: 40%;
  height: 100%;
  text-align: left;
  padding-left: 5px;
}

.schedule-grid_col-date_right h1 {
  text-align: left;
  font-size: 4.5em;
  color: $light-grey;
  margin: 0px;
}

.schedule-grid_col-info_right > a,
.schedule-grid_col-info_left > a {
  color: $black;
  text-decoration: none;
}

.schedule-grid_col-info_right > a:hover,
.schedule-grid_col-info_left > a:hover{
  color: $red;
  transition: all .5s ease;
  cursor: pointer;
}

.schedule-grid_col-info_right h6 {
  font-size: 1.25em;
  font-weight: 700;
  padding-bottom: 5px;
}

.schedule-grid_col-date_right h5,
.schedule-grid_col-date_left h5 {
  line-height: 1em;
}


.schedule-grid_col-info_right {
  float: right;
  width: 60%;
}

.event-details {
  color: $red;
  font-weight: 500;
  font-family: 'Poppins', sans-serif !important;
  padding: 5px 0px;
}


// Add on classes

.hide-template {
  opacity: 0;
  transition: all 1s ease;
}

.hide {
  display: none;
}

.active {
  color: $red !important;
}
